VITE_SUPABASE_URL=https://ievgztxguzeueoccfybf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlldmd6dHhndXpldWVvY2NmeWJmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTY4OTIxMTAsImV4cCI6MjA3MjQ2ODExMH0.0jxVPWPz-kjyntQYOUTGYIxNwZSwDznZf0j25xeFgPw
VITE_API_BASE_URL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlldmd6dHhndXpldWVvY2NmeWJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njg5MjExMCwiZXhwIjoyMDcyNDY4MTEwfQ.5W0XGHwcd4qIJuuSuJSiPKNM1ZJ_mbhw7Cqu9ngS6jA