# Supabase Configuration
NEXT_PUBLIC_SUPABASE_URL=https://hcebcttcwitxxdstxmii.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhjZWJjdHRjd2l0eHhkc3R4bWlpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTcyMjgwNzEsImV4cCI6MjA3MjgwNDA3MX0.4Thcs_LXaOc8VTYYtCLVKqPprieAMb8wt-VHblrg5bA
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imlldmd6dHhndXpldWVvY2NmeWJmIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1Njg5MjExMCwiZXhwIjoyMDcyNDY4MTEwfQ.5W0XGHwcd4qIJuuSuJSiPKNM1ZJ_mbhw7Cqu9ngS6jA